---
// src/pages/analyzer.astro
import Layout from '../layouts/Layout.astro';
import TechnologyDetector from '../components/TechnologyDetector';
---

<Layout title="Technology Detector">
  <main>
    <TechnologyDetector client:load />
  </main>
</Layout>

<style>
  
</style>