---
import  GoogleDorksCheatSheet  from '../components/GoogleDorks';
import '../styles/googleDorks.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Google Dorks Cheat Sheet</title>
	</head>
	<body>
		<GoogleDorksCheatSheet client:load />
	</body>
</html>